@import "_css-reset.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_font.scss";

main {
  height: calc(100% - 8em);
  padding-top: 1em;
  text-align: center;

  >section {
    display: flex;
    justify-content: flex-end;

    .filter {
      width: 3em;
      height: 3em;
      background-color: black;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1.5em;


      img {
        width: 1.5em;
      }
    }
  }

/*########## home cards ########## */
  .container {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;

    li {
      width: 17em;
      height: 19.5em;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 4em;
      background-color: #dddddd;
      border-radius: .4em;
      

      h2 {
        grid-column: span 2;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;

      }

      h3 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;
      }

      img {
        width: 14em;
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: end;
      }
    }
  }

  form {
    section {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      margin-top: 2em;
  
      .dislike {
        width: 4em;
        height: 4em;
        background-color: black;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
  
        img {
          width: 1.8em;
        }
      }
  
      .like {
        width: 4em;
        height: 4em;
        background-color: black;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
  
        img {
          width: 2.4em;
        }
      }
    }
  }
}