<footer>
  <nav>
    <button class="home">
      <img src="/static/images/home_white.png" alt="home button">
    </button>
    <button class="liked">
      <img src="/static/images/like_white.png" alt="liked button">
    </button>
  </nav>
</footer>
