@charset "UTF-8";
/*** Shechter, E. (2022, February 27). An Interview With Elad Shechter 
on “The New CSS Reset.” CSS-Tricks. Retrieved March 7, 2022, from 
https://css-tricks.com/an-interview-with-elad-shechter-on-the-new-css-reset/***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) in case you use it with normalize.css */
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

header {
  height: 4em;
}
header section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5em;
}
header section h1 {
  display: flex;
  font-size: 2.6em;
}
header section h1 span img {
  width: 0.9em;
}

footer {
  background-color: black;
  color: white;
  height: 4em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}
footer nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
footer nav .home {
  grid-column: 2/3;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
}
footer nav .home img {
  width: 1.8em;
}
footer nav .liked {
  grid-column: 3/4;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
}
footer nav .liked img {
  width: 2.4em;
}

header h1 {
  font-family: "Creepster", cursive;
}

h1, h2, h3, h4, p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

main {
  height: calc(100% - 8em);
  padding-top: 1em;
  text-align: center;
  /*########## home cards ########## */
}
main .filter {
  width: 3em;
  height: 3em;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5em;
}
main .filter img {
  width: 1.5em;
}
main .container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50%;
}
main .container li {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -75%);
  width: 17em;
  height: 19.5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 4em;
  background-color: #dddddd;
  border-radius: 0.4em;
  z-index: 999;
}
main .container li h2 {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
}
main .container li p {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
}
main .container li h3 {
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
}
main .container li img {
  width: 14em;
  grid-column: 1/4;
  grid-row: 1/2;
  justify-self: center;
  align-self: end;
}
main form {
  margin-top: 25em;
}
main form section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 2em;
}
main form section .dislike {
  width: 4em;
  height: 4em;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main form section .dislike img {
  width: 1.8em;
}
main form section .like {
  width: 4em;
  height: 4em;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main form section .like img {
  width: 2.4em;
}
main > h2 {
  margin-bottom: 1em;
}
main .liked-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
main .liked-list li {
  background-color: #dddddd;
  width: 10em;
  border-radius: 0.5em;
  padding: 1em;
}
main .liked-list li img {
  width: 8em;
  margin-bottom: 0.5em;
}

/*# sourceMappingURL=app.css.map */
