/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Source: https://css-tricks.com/an-interview-with-elad-shechter-on-the-new-css-reset/ */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

*, *::before, *::after {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

body {
  font-family: roboto, sans-serif;
}


/*############# header ##############*/ 
header {
  height: 4em;
  background-color: rgb(255, 255, 255);
  
}


/*############## main ###############*/ 
main {
  height: calc(100vh - 8em);
  background-color: rgb(220, 220, 220);

}


/*############# footer ##############*/ 
footer {
  height: 4em;
  background-color: rgb(255, 255, 255);
}

