<main>
  <button>
    <img src="../static/images/filter.png" alt="Filter button">
  </button>
  <section id="board">
    <article class="card">
      <h1>Red Urban</h1>
      <img src="../static/images/complete_sb.png" alt="Red Urban">
      <p>€99</p>
      <a href="">
        <p>Created by:</p>
        <img src="" alt="profile picture">
      </a>
    </article>
  </section>
  <section class="rate">
    <button>
      <img src="../static/images/dislike.png" alt="dislike button">
    </button>
    <button>
      <img src="../static/images/like.png" alt="like button">
    </button>
  </section>
</main>
