<main>
  <section>
    <button class="filter">
      <img src="../static/images/filter_white.png" alt="Filter button">
    </button>
  </section>

  <ul class="container">
    <li>
      <h2>Name, Creator</h2>
      <h3>Price</h3>
      <img src="/static/images/complete_sb.png" alt="Red Urban">
    </li>
  </ul>

  <form action="">
    <section>
      <button class="dislike">
        <img src="/static/images/dislike_white.png" alt="dislike button">
      </button>
      <button class="like">
        <img src="/static/images/like_white.png" alt="like button">
      </button>
    </section>
  </form>
</main>
