<main>
  <h2>liked</h2>
  <ul class="liked-list">
    <li>
      <img src="/static/images/complete_sb.png" alt="">
      <h2>Name</h2>
      <p>Creator</p>
      <h3>Price</h3>
    </li>
    <li>
      <img src="/static/images/complete_sb.png" alt="">
      <h2>Name</h2>
      <p>Creator</p>
      <h3>Price</h3>
    </li>
  </ul>
</main>