<main>
  <h2>liked</h2>
  <ul class="liked-list">
    <li>
      <img src="/static/images/{{this.imgName}}.png" alt="">
      <h2>{{name}}</h2>
      <p>{{Creator}}</p>
      <h3>{{Price}}</h3>
    </li>
  </ul>
</main>